[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.16"
psycopg = {extras = ["pool", "binary"], version = "*"}
python-decouple = "*"
fontawesome-free = "*"

[dev-packages]

[requires]
python_version = "3.10"
