-i https://pypi.org/simple
asgiref==3.8.1; python_version >= '3.8'
django==4.2.16; python_version >= '3.8'
fontawesome-free==5.15.4
psycopg[binary,pool]==3.2.3; python_version >= '3.8'
psycopg-binary==3.2.3
psycopg-pool==3.2.4
python-decouple==3.8
sqlparse==0.5.2; python_version >= '3.8'
typing-extensions==4.12.2; python_version < '3.13'
